<html>
<body>
<h1>Rights Holder Reports</h1>
<form>
  <label for="index">Index:</label>
  <input type="text" name="index" >
  <label for="term">Term:</label>
  <input type="text" name="term" >
  <input type="submit" name="search" value="search">
</form>
</body>
</html>
