<html>
<head>
<script type='text/javascript'>
  function addTerms(){
    var search_terms = document.getElementById("search_terms");
    var input = document.createElement("input");
    input.type = "text";
    input.name = "terms[]";
    search_terms.appendChild(input);
    search_terms.appendChild(document.createElement("br"));
  }
</script>
<body>
<h1>Rights Holder Reports</h1>
<form>
  <fieldset>
  <legend>Indexes</legend>
  <input type="checkbox" name="indexes[]" value="author" <% if @indexes.include? "author" %>checked<% end %>/>Author<br />
  <input type="checkbox" name="indexes[]" value="publisher" <% if @indexes.include? "publisher" %>checked<% end %>/>Publisher<br/>
  <input type="checkbox" name="indexes[]" value="title" <% if @indexes.include? "title" %>checked<% end %>/>Title<br/>
  <input type="checkbox" name="indexes[]" value="topic" <% if @indexes.include? "topic" %>checked<% end %>/>Subject<br/>
  </fieldset>
  <fieldset>
  <legend>Search Terms</legend>
  <div id="search_terms">
  <% @terms.each do |term| %>
    <input type="text" name="terms[]" value="<%= term %>"><br/>
  <% end %>
  <input type="text" name="terms[]" ><br/>
  </div>
  <a href="#" id="add_terms" onclick="addTerms()">Add Term</a>
  </fieldset>
  <input type="submit" name="search" value="Search">
  <% if @s %>
    <br>
    Number of result records: <%=@s.num_results%> 
    <input type="submit" name="results" target="_blank" value="Get TSV">
  <% end %>
</form>
</body>
</html>
